<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="styles/main.css">
  <title>Methodical</title>
</head>
<body>

<!--   <h1 class="logo-header">
  <img class="logo" src="images/methodical.png" alt="logo">
</h1>
<h2>Our Pick-Up Menu</h2>
<div id="app-container">
  <ul class="js-menu-item-list"></ul>
</div>

<script type="text/template" id="menu-list-template">
  <li><img class="js-menu-item coffee-icons" src="<%= image.url %>"></li>
  <div class="js-menu-item-details"></div>
</script>

<script type="text/template" id="item-details-template">
  <ul class="details-list">

    <li class="menu-item-name"><%= name %></li>
  </ul>
  <div>
    <li><form><button class="add-item-button">Add Item</button></form></li>
    <li><button class="price-button">$<%= price %></button></li>
  </div>

</script>
 -->
  <script type="text/template" id="order-template">
    <div class="js-cart">
      <p>espresso (yummy food item 1)
        <form>
          <button>Remove Item</button>
        </form>
      </p>
      <form>
        <button>Submit Pick-Up Order</button>
      </form>
    </div>
  </script>

  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>
