$primary-font: 'Oswald';
$secondary-font: 'Dancing Script', cursive;
$primary-color: #23232D;
$secondary-color: #BBA57B;



body {
  font-family: 'Oswald';
  font-size: 1.3em;
  font-spacing: 1px;
  background-color: $primary-color;
  color: $secondary-color;
  margin: 0 auto;
  text-align: center;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $secondary-color;

}

a:visited {
  text-decoration: none;
  color: $secondary-color;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  opacity: .6;
  font-size: 105%;
}

a:active {
  text-decoration: none;
}

h1 {
  text-align: left;
}

.logo {
  height: 50%;
  width: 50%;
}

.js-menu-list {
  font-family: $primary-font;
  border: 3px solid $secondary-color;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
}

.js-menu-item-details {
  font-family: $primary-font;
/*   border: 3px dashed $secondary-color; */
}

.js-menu-item-list {
  padding: 0;
}

.js-cart {
  font-family: $primary-font;
  border: 3px solid $secondary-color;
}

img {
  display: flex;
  flex: 1;
  margin: 0 auto;
}

button {
  font-family: $primary-font;
  outline: none;
  background: $secondary-color;
  font-family: $primary-font;
  border: 0;
  color: $primary-color;
  height: 50px;
  width: 100%;
  font-size: 1em;
}

.details-list {
  display: flex;
}
ul {
  padding: 0px;
}

li {
  flex:3;
}

.coffee-icons {
/*   height: 76px; */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: $secondary-color;
/*  margin-left: -3px; */
  padding: 12px;
/*padding-bottom: 12px;
  padding-right: 25px;  */

}

.js-menu-item {
  letter-spacing: 3px;
  cursor: pointer;
}

.add-item-button {
  border: solid 1px white;
  margin-left: 3px;
}

.price-button {
  font-size: 1.5em;
  color: $secondary-color;
  background-color: $primary-color;
  padding-bottom: 20px;
}

.menu-item-name {
  font-family: $secondary-font;
  font-size: 1.3em;
  padding-top: 9px;
}
